<div class="addons-wrap d-flex flex-column overflow-y-auto">
    <div class="status d-flex flex-justify-between p-2">
        <div class="title p-1">
            <a href="{{ site.addons_url }}">
                <i class="fa fa-globe"></i> {{ site.addons_title }}
            </a>
        </div>
    </div>
</div>